#introDiv{
    width: 500px;
    height: 200px;
}

#headerDiv{
    width: 100%;
    height: 40px;
    background-color: aquamarine;
}

body{
    margin: 0;
}

a{
    color: #7000ff;
    font-size: 25px;
}
a:hover{
    color: violet;
}