#itemDiv{
    display: flex;
    align-items: center;
    width: 100%;
    height: 700px;
}
#imageDiv{
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    border: 5px solid black;
    border-radius: 40px;
    background-color: rgb(70,200,217);
}
#imageDiv img{
    width: 350px;
    height: 500px;
}

#textDiv{
    margin-left: 70px;
    width: 700px;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#buyButton{
    width: 100px;
    height: 40px;
    border: 2px solid black;
    background-color: rgb(70,200,217);
    transition: transform 0.1s ease;
    cursor: pointer;
}
#buyButton:hover{
    transform: scale(1.1);
}
#buyButton:active{
    transform: scale(0.9);
}

#spinner {
    visibility: hidden;
    margin-top: 25px;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top: 5px solid #000;
    border-left: 5px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

#paymentText{
    color: #00bb0e;
    visibility: hidden;
}

#headerDiv{
    width: 100%;
    height: 40px;
    background-color: aquamarine;
}

body{
    margin: 0;
    background-color: #7000ff;
}

a{
    color: #7000ff;
    font-size: 25px;
}
a:hover{
    color: violet;
}

@media (orientation){
    #imageDiv img{
        width: 200px;
        height: 350px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #itemDiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
    #imageDiv{
        margin: 0;
        width: 250px;
    }
    #textDiv{
        margin: 0;
        width: 70%;
    }
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}